  body {
    background-color: #e0e0e0;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
  }

  .jumbotron {
    background-color: #7ee1d2;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
  }

  .section {
    padding: 0.5rem 2rem 1rem 2rem;
  }

  @font-face {
    font-family: Arial;
    src: url(sansation_light.woff);
  }

  div {
    font-family: Arial;
  }

  button:hover {
    background-color: #008bc2;
  }

  footer {
    font-family: Arial;
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}